@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.bottom-arrow {
  border-bottom: 5px solid #ffffff;
}

.bottom-arrow:after {
  content:'';
  position: absolute;
  top: 100%;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 25px solid #ffffff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.top-arrow {
  border-top: 5px solid #ffffff;
}

.top-arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 25px solid #ffffff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.right:after {
  left: 80%;
  right: 0;
}

.left:after {
  left: 0;
  right: 80%;
}
